

body{
/* background-color: #91b5d5; */
background-color: #50d8d7;
background-image: linear-gradient(90deg, #50d8d7 0%, #923993 79%);
}

h1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 42px;
 color: azure;
}
h2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 color: azure;
}

.title{
    background-color: #50d8d7;
background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%);
padding: 2px;
margin-bottom: 10px;


    
}
/* .currentW{
    padding-left: 33%;
    padding-right: 33%;
    padding-bottom: 30px;

    } */
#current{
    /* background-color: #50d8d7;
background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%); */

}

#myWeather{
    /* background-color: #50d8d7;
background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%); */
}

.severe{
    padding: 1px;
    background-color: red;
    color:white;
    margin-right: 60%;
}

.moderate{
    padding: 1px;
    background-color: yellow;
    color: black;
    margin-right: 60%;
}

.favorable{
    padding: 1px;
    background-color: green;
    color:white;
    margin-right: 60%;
}